<script>
    import { onMount } from "svelte";
    import firebase from "@firebase/app";
    import "@firebase/storage";
    import { createReview } from '../api/reviewApi';
    import { v4 as uuidv4 } from 'uuid';
    import config from "../config"
    let title="";
    let preview="";
    let anime="";
    let description="";
    let img;
    let imgUrl ="";
    let storageRef;
    onMount(() => {
            firebase.initializeApp(config);
            storageRef = firebase.storage().ref();
        });
    const getImageUrl = async (file) => {
        storageRef.child(file).getDownloadURL().then(function(url) { 
            console.log(url);
            this.imgUrl =url;
        }).catch(function(err) {
            console.log(err);
        });
    };
    
    const submit = async(e) => {
        let imgName = `${uuidv4()}/${img.name}`;
        await storageRef.child(imgName).put(img);
        imgUrl = await storageRef.child(imgName).getDownloadURL().then(function(url) { 
            console.log(url);
            return url;
        }).catch(function(err) {
            console.log(err);
        });
        //await getImageUrl(img.name);
        console.log(imgUrl);
        if (imgUrl !==null) {
            const response = await createReview(
                {
                    title: title,
                    anime: anime,
                    preview: preview,
                    description: description,
                    image: imgUrl
                }
            );
            console.log(response);
        }
        title="";
        preview="";
        anime="";
        img="";
        imgUrl="";
        description="";
        e.target.reset();
    
    }
    const setImage = async (e) => {
        img = e.target.files[0];
        console.log(img);
    }
    </script>
    <main>
        <h1>Add new anime review</h1>
        <form on:submit|preventDefault={submit}>
            <input bind:value={title} placeholder="Title" required/>
            <input bind:value={preview} placeholder="Preview" required/>
            <input bind:value={anime} placeholder="Anime" required/>
            <input bind:value={description} placeholder="Description" required/>
            <input type="file" on:change={setImage} required/>
            <button type="submit">Submit</button>
    </main>
    
    <style>
        main {
            text-align: center;
            padding: 1em;
            max-width: 240px;
            margin: 0 auto;
        }
    
        h1 {
            color: #ff3e00;
            text-transform: uppercase;
            font-size: 4em;
            font-weight: 100;
        }
    
        @media (min-width: 640px) {
            main {
                max-width: none;
            }
        }
    </style>
    
    
    