<script>
    import { onMount } from 'svelte';
    import { getReviewDetail } from '../api/reviewApi'
    export let params = {};
    
    const fetchData = getReviewDetail(params.id).then(data => {
        if (data.id == null) {
            throw new Error("Data Not Found")
        }
        return data;
    })
    
</script>
<main>
    {#await fetchData}
        <h1>Loading....</h1>
    {:then data}
        <h1>{data.title}</h1>
        <img src={data.Image} alt={data.anime}/>
        <p>Anime: {data.anime}</p>
        <p>{data.description}</p>
    {:catch err}
        <h1>{err.message}</h1>
    {/await}
</main>

<style>
    main {
        text-align: center;
        padding: 1em;
        max-width: 240px;
        margin: 0 auto;
    }

    h1 {
        color: #ff3e00;
        text-transform: uppercase;
        font-size: 4em;
        font-weight: 100;
    }

    @media (min-width: 640px) {
        main {
            max-width: none;
        }
    }
</style>