<script>
import { onMount } from 'svelte';
import { push } from "svelte-spa-router"
import { getReviewsList } from "../api/reviewApi";
import { Card, CardHeader, CardTitle, CardBody, CardSubtitle, CardText, CardFooter, Button } from "sveltestrap";
let reviewsList = [];
onMount(async () => {
    const res = await getReviewsList();
    reviewsList = res;
});

const gotoDetail = (id) => {
    push(`#/detail-review/${id}`);
}
</script>
<svelte:head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</svelte:head>
<main>
    <h1>Welcome to anime reviews database</h1>
    {#each reviewsList as review}
        <Card class="mb-3">
            <CardHeader>
                <CardTitle>{review.title}</CardTitle>
                <img src="{review.Image}" style="width: 100px;height: 100px;" alt={review.anime} />
            </CardHeader>
            <CardBody>
            <CardSubtitle>Anime: {review.anime}</CardSubtitle>
            <CardText>
                {review.preview}
            </CardText>
            <Button on:click={gotoDetail(review.id)}>See Review</Button>
            </CardBody>
            <CardFooter>Footer</CardFooter>
        </Card>
    {/each}
</main>

<style>
    main {
        text-align: center;
        padding: 1em;
        max-width: 240px;
        margin: 0 auto;
    }

    h1 {
        color: #ff3e00;
        text-transform: uppercase;
        font-size: 4em;
        font-weight: 100;
    }

    @media (min-width: 640px) {
        main {
            max-width: none;
        }
    }
</style>