<script>
	import Router from 'svelte-spa-router';
	import CreateReview from './container/CreateReview.svelte';
	import DetailReview from './container/DetailReview.svelte';
	import Home from './container/Home.svelte';
	const routes = {
		'/create-review':CreateReview,
		'/detail-review/:id':DetailReview,
		'*': Home,

	};
</script>
<Router {routes}/>